a{
    color: #000 !important;
}
.slide-home {
    position: relative;
    background-image: url(../img/cover-home.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}
.slide-home .go-to {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 50px;
    margin-left: -25px;
    cursor: pointer;
}

#projects {
    background-image: url(../img/bg-wood.jpg);
    background-size: cover;
    background-position: center bottom;
}

h2.subtitle {
    display: block;
    margin: 80px auto 40px auto;
    color: #011238;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    font-size: 1.5rem;
}
h2.subtitle span {
    font-weight: 800;
}

.slide-projects .box {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 350px;
    overflow: hidden;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}

.slide-projects .info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(0);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
}

.slide-projects .brand {
    align-self: center;
    z-index: 1;
    max-width: 150px;
    /* background: #000; */
    text-align: center;
}
.slide-projects .brand-bosque {
    background: #e2dede94; 
}
.slide-projects .brand-senior {
    background: #000; 
}
.slide-projects .brand img {
    margin: auto;
    max-height: 100px;
    padding: 10px;
}
.slide-projects .text {
    align-self: flex-end;
    flex: 1;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-style: italic;
    font-weight: 300;
    font-size: .9rem;
}
.slide-projects .text-bosque {  
    background: rgb(167, 78, 1, 0.81);
}
.slide-projects .text-senior {  
    background: rgba(193, 164, 88, 0.6);
}

.slide-projects .text strong {
    font-weight: 700;
}
.slide-projects .text >* {
    padding: 0 5px;
}

.slide-projects .slick-slide:not(.slick-center) .box {
    transform: scale(0.9);
}
.slide-projects .slick-slide:not(.slick-center) .info {
    transform: translateY(100%);
}

.slick-dots {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 30px 10px 60px 10px;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 16px;
    height: 16px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border:1px solid #000;
    outline: none;
    background: #fff;
    border-radius: 50%;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:hover, .slick-dots li button:focus {
    opacity: .5;
}
.slick-dots li.slick-active button {
    background: #000;
    opacity: 1;
}

@media (min-width: 576px){
    
    h2.subtitle {
        font-size: 2rem;
    }
    
    .slide-projects .box {
        height: 500px;
    }
    .slide-projects .info {
        flex-direction: row;
    }
    .slide-projects .brand {
        max-width: 180px;
        margin-left: 10px;
    }
    .slide-projects .brand img {
        max-height: 140px;
        padding: 20px;
    }
    .slide-projects .text {
        margin-left: -190px;
        padding-left: 200px;
        font-size: 1rem;
    }
}

@media (min-width: 768px){
    
    
    
}

@media (min-width:992px){
    
    .slide-projects .box {
        height: 600px;
    }
    
    .slide-projects .brand {
        max-width: 200px;
        margin-left: 20px;
    }
    .slide-projects .text {
        margin-left: -220px;
        padding: 15px 10px 15px 230px;
        font-size: 1.2rem;
    }
    
}