.cover {
    position: relative;
    background-size: cover;
    background-position: center bottom;
    height: 100%;
}
.cover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgb(255, 255, 255) 0%,rgba(255, 255, 255, 0) 30%);
}
.cover .logo {
    position: absolute;
    bottom: 50px;
    right: 20%;
}
.cover.to-left .logo {
    left: 15%;
    right: auto;
    top: 65%;
}
.subtitle {
    text-align: center;
}
.subtitle h3 {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    white-space: nowrap;
    font-style: italic;
    font-weight: 300;
    font-size: 23px;
    color: #963825;
    text-align: left;
    margin-bottom: 30px;
}
.subtitle h3 .top {
    display: block;
    margin-bottom: 5px;
}
.subtitle h3 .bottom {
    display: block;
    font-family: 'Barbershop in Thailand';
    text-transform: none;
    color: #391700;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    margin-top: 5px;
}
.description {
    font-style: italic;
    font-weight: 300;
    color: #919293;
}
.description p {
    margin: 0;
}

.full-img img {
    width: 100%;
}
.video-embed { 
    position: relative; 
    height: 0; 
    overflow: hidden; 
    padding-top: 0; 
    padding-left: 0; 
    padding-right: 0;
    padding-bottom: 56.25%; 
} 
.video-embed iframe { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    border: 0; 
} 

.items h3 {
    display: block;
    margin: 20px auto 60px auto;
    max-width: 600px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #963825;
}
.items h3 span {
    display: block;
    font-weight: 300;
}
.items .slick-slider {
    max-width: 600px;
    margin: 0 auto 20px auto;
    padding: 0 30px;
}
.items .slick-initialized .slick-slide {
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    float:none;
}
.items .slick-slide img {
    margin: 10px auto;
    max-width: 70px;
    max-height: 70px;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    z-index: 2;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-top: -20px;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
.slick-prev {
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.361' height='33.25' viewBox='0 0 14.361 33.25'%3E%3Cpath d='M6786.168,13882.313l-11.638,16.372,11.638,15.093' transform='translate(-6773.03 -13881.444)' fill='none' stroke='%23707070' stroke-linejoin='round' stroke-width='3'/%3E%3C/svg%3E");
}
.slick-next {
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.361' height='33.25' viewBox='0 0 14.361 33.25'%3E%3Cpath d='M6786.168,13882.313l-11.638,16.372,11.638,15.093' transform='translate(6787.391 13914.694) rotate(180)' fill='none' stroke='%23707070' stroke-linejoin='round' stroke-width='3'/%3E%3C/svg%3E");
}
.slick-prev:hover, .slick-next:hover {
    opacity: .7;
}
.slick-prev:focus, .slick-next:focus {
    outline: none;
}

.sites {
    background: #963825;
    text-align: center;
}
.sites h3 {
    display: block;
    margin: 20px auto 60px auto;
    max-width: 600px;
    text-transform: uppercase;
    font-weight: 300;
    color: #000;
}
.sites h3 span {
    font-weight: 700;
}
.sites ul {
    display: block;
    max-width: 400px;
    list-style: none;
    padding: 0;
    margin: 0 auto 20px auto;
    text-align: left;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 500;
    color: #f5f6f7;
}
.sites li {
    display: flex;
    margin: 5px 0;
}
.sites li img {
    flex: 1;
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
}
.maps {
    display: inline-block;
    margin: 40px auto;
    color: #fff;
    text-decoration: none;
    background: #000000;
    padding: 5px 10px 8px 10px;
    border-radius: 50px;
}
.maps img {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    margin-right: 10px;
}
.maps span {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    font-weight: 800;
    font-style: italic;
    font-size: .8rem;
}
.maps:hover{
    color: #fff;
    background: #363636;
}

.gallery {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;
    text-rendering: optimizespeed;
}
.gallery .gallery-item {
    display: inline-block;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: middle;
    text-rendering: auto;
    position: relative;
    margin-bottom: 5px;
    width: 100%;
}
.gallery-1, .gallery-2 {
    padding: 0;
}
.gallery a {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-size: cover;
    background-position: center;
}
.gallery a:before {
    content: '';
    background: #000;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    opacity: .5;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
.gallery a:hover:before {
    opacity: 0;
}
.gallery .wi2l, .gallery .wi2r {
    width: 50%;
}
.gallery .wi2l a {
    right: 2px;
}
.gallery .wi2r a {
    left: 3px;
}
.gallery .he1, .gallery .he4 {
    height: 200px;
}
.gallery .he2, .gallery .he3 {
    height: 150px;
}
.gallery-hide {
    display: none;
}

.models {
    color: #030000;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    padding-bottom: 100px;
    background-image: url(../img/bg-floors.jpg);
    background-size: cover;
    background-position: bottom left;
}
.models h3 {
    text-transform: uppercase;
    color: #963825;
    font-weight: 700;
    margin: 60px 0 20px 0;
}
.models h3:after {
    content: '';
    display: block;
    margin: auto;
    width: 30px;
    border-top: 1px solid #707070;
    margin-top: 16px;
}
.tabs {
    margin: 30px 0 60px 0;
}
.tabs span {
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-weight: 200;
    font-size: 55px;
    line-height: 1;
    width: 50px;
    padding: 10px 5px 0 5px;
    margin: 5px 2% 5px 2%;
    border: 1px solid #391700;
    color: #963825;
    cursor: pointer;
}
.tabs span:first-child {
    margin-left: 0;
}
.tabs span:last-child {
    margin-right: 0;
}
.tabs span.txt {
    width: auto;
    min-width: 110px;
    font-weight: 300;
    font-size: 15px;
    line-height: 55px;
    text-transform: uppercase;
    padding: 5px;
}
.tabs span.active {
    background: #391700;
    color: #fff;
}
.torres .tabs {
    margin-bottom: 30px;
}
.torres .tabs span {
    width: auto;
    min-width: 110px;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 10px 5px 5px 5px;
}

.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}
.slider {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 900px;
}
.slide-type.slick-slider {
    padding: 0 40px;
}
.tab-content img {
    width: 100%;
    max-width: 900px;
}
.tab-content table {
    display: inline-block;
    vertical-align: middle;
    margin: 30px 0;
    text-align: left;
    font-size: .9rem;
}
.tab-content td {
    padding: 0 30px;
}
.tab-content td strong {
    font-size: 1.1rem;
    font-weight: 700;
    color: #963825;
}
.tab-content td a {
    display: inline-block;
    text-decoration: none;
    background: #963825;
    color: #fff;
    padding: 5px 10px;
    margin-top: 15px;
}
.tab-content h3:after {
    display: none;
}

.floors {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 94%;
    max-width: 280px;
    margin: 0 3%;
}
.floors.f9 {
    max-width: 630px;
}
.floors h4 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 300;
    font-style: normal;
    color: #963825;
}
.floors >span {
    display: inline-block;
    text-align: center;
    width: 50px;
    line-height: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 10px 0;
    border: 1px solid #030000;
    color: #030000;
    margin: 10px;
}
.floors .sold {
    background: #030000;
    color: #fff;
}
.about {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 5px 0 5px 2%;
}
.about div {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: .8rem;
    margin: 3px 0;
}
.about div:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #030000;
}
.about div.sold:before {
    background: #030000;
}

.contact {
    padding-top:50px;
    padding-bottom: 50px;
}
.contact .image {
    text-align: center;
}
.contact img {
    width: 100%;
    max-width: 450px;
    padding: 30px;
}
.contact h3 {
    font-style: italic;
    font-weight: 800;
    margin-bottom: 30px;
    color: #963825;
}

::-webkit-input-placeholder { color: inherit; opacity: 1; }
::-moz-placeholder { color: inherit; opacity: 1; }
:-moz-placeholder { color: inherit; opacity: 1; }
:-ms-input-placeholder { color: inherit; opacity: 1; }
:focus::-webkit-input-placeholder { opacity: .5; }
:focus::-moz-placeholder { opacity: .5; }
:focus:-moz-placeholder { opacity: .5; }
:focus:-ms-input-placeholder { opacity: .5; }

.contact form, .contact select, .contact option, .contact label, .contact input {
    font-weight: 200;
}
.contact input[type=text], .contact input[type=email], .contact input[type=tel] {
    display: block;
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}
.contact label {
    display: block;
    margin: 20px 0;
}
.contact select {
    border-color: #ccc;
    margin-left: 10px;
}
.btn {
    background: #391700;
    border-radius: 0;
    padding: 3px 40px;
    color: #fff;
    text-transform: uppercase;
}
.btn:hover {
    background: #963825;
    color: #fff;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}

.work {
    position: relative;
    background-image: url(../img/obra.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
}
.work:before {
    content: '';
    position: absolute;
    top:0; left: 0; right: 0; bottom: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 70%);
}
.work .box {
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    -webkit-transform:translateY(-50%);
            transform:translateY(-50%);
    color: #fff;
    font-style: italic;
    font-weight: 500;
    max-width: 380px;
}
.work h3 {
    text-transform: uppercase;
    font-size: 2.7rem;
    margin-bottom: 40px;
}
.work a {
    text-align: center;
    display: block;
    margin: auto;
    max-width: 150px;
    background: rgba(255, 255, 255, 0.7);
    padding: 5px 0;
    text-transform: uppercase;
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    margin-top: 40px;
    text-decoration: none;
}
.work a:hover {
    background: #fff;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}

@media (max-width: 570px){
.cover.to-left .logo {
    width: 45%;
    top: 71%;
    left: 28%;
    text-align: center;
}
}

@media (min-width: 576px){

    
    
    .subtitle h3 {
        font-size: 35px;
    }
    .subtitle h3 .bottom {
        font-size: 55px;
    }
    
    .maps {
        padding: 5px 25px 8px 25px;
    }
    .maps span {
        font-size: .9rem;
    }
    
    .gallery-1 {
        padding-right: 2px;
    }
    .gallery-2 {
        padding-left: 3px;
    }
    .gallery .he1 {
        height: 400px;
    }
    .gallery .he2 {
        height: 150px;
    }
    .gallery .he3 {
        height: 150px;
    }
    .gallery .he4 {
        height: 245px;
    }

}

@media (min-width: 992px){
    
    .subtitle h3 {
        margin-bottom: 0;
    }
    .subtitle, .description {
        margin: 40px 0;
    }
    
    .gallery .gallery-item {
        height: 600px;
    }
    .gallery .he2 {
        height: 300px;
    }
    .gallery .he3 {
        height: 195px;
    }
    .gallery .he4 {
        height: 400px;
    }
    
    .items .slick-slider {
        padding: 0 60px;
    }
    
    .contact .image {
        text-align: right;
    }
    
}

@media (min-width: 1200px){
    
    .subtitle {
        text-align: right;
        padding-right: 60px;
    }
    .subtitle h3 .bottom {
        font-size: 60px;
    }
    
}
